/* Reseteo básico de márgenes y tamaño de caja */
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

/* Estilos para el banner */
.banner {
    position: relative;
    width: 100vw;
    height: 60em;
    overflow: hidden;
    
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

}

.banner-background,
.banner-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-image {
    opacity: 0.8;
}


.banner-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(16, 16, 16, 0) 0%, rgba(16, 16, 16, 0.109) 100%);
}

/* Contenido dentro del banner */
.banner-content {
    position: relative;
    z-index: 10;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-left {
    display: flex;
    justify-content: flex-start; 
    gap: 2rem;  
    width: 100%;
}


.banner-center {
    display: flex;
    justify-content: center; 
    width: 100%;
}


.banner-text,
.banner-subtitle,
.banner-title {
    color: white;
}

.banner-text {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.banner-subtitle {
    font-size: 30px;
}

.banner-title {
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
}


.banner-controls {
    display: flex;
    align-items: start;
    gap: 2rem;
    
}

