.tracklist-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1.8rem;
    padding: 1.5rem;
    max-width: 1400px;
    margin: 0 auto;
}

.tracklist {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    order: 1; 
}

.featured-track-container {
    order: 2;          
    position: sticky;  
    top: 2rem;
    height: fit-content;
}

@media (max-width: 768px) {
    .tracklist-container {
        grid-template-columns: 1fr;
    }

    .featured-track-container {
        display: none;
    }
}