/* .radio-spin-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} */

.radioSpin-container {
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
  
  .top69 {
    flex: 3;
    padding: 20px;
  }
  
  .audio-player {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
  }
  
  .radio-spin-sidebar {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: start;
    margin-top: 15rem;
    margin-left:47rem;
    margin-right: 20rem;
    text-align: left;
    
  }
  
  .radio-spin-sidebar h1 {
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    /* color: #000000; */
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  }
  
  .radio-spin-sidebar h2 {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
    /* color: #000000; */
  }
  
  .random-song-btn {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #eeeeee4e;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
